.navbar {
  z-index: 5; }
  .navbar.navbar-inverse {
    background-color: #fff;
    border-bottom: none; }
    .navbar.navbar-inverse:before {
      content: "";
      position: absolute;
      top: 75%;
      width: 100%;
      border-bottom: solid 1px #dadada;
      z-index: -1; }
      @media (min-width: 1200px) {
        .navbar.navbar-inverse:before {
          top: 86%; } }
  .navbar .navbar-header {
    width: 100%;
    height: 100%;
    max-height: 100px; }
    .navbar .navbar-header img {
      width: 100%;
      max-width: 329px;
      min-width: 277px;
      z-index: 1; }
      @media (max-width: 480px) {
        .navbar .navbar-header img {
          min-height: 0; } }
    .navbar .navbar-header .offset-top {
      padding: 40px 0 0 90px; }
      @media (min-width: 1200px) {
        .navbar .navbar-header .offset-top {
          padding: 54px 0; } }
      @media (max-width: 767px) {
        .navbar .navbar-header .offset-top {
          padding: 0; } }
  .navbar .navbar-nav {
    background-color: #fff; }
    @media (max-width: 767px) {
      .navbar .navbar-nav {
        margin-top: -13px; } }
    .navbar .navbar-nav li {
      border-right: solid 1px #dadada; }
      .navbar .navbar-nav li:nth-of-type(8) {
        border-right: none; }
      .navbar .navbar-nav li:nth-of-type(7) {
        border-right: none; }
      .navbar .navbar-nav li a {
        padding: 5px 15px;
        color: #000; }
        .navbar .navbar-nav li a:hover {
          color: #000;
          opacity: .7; }
        @media (max-width: 950px) {
          .navbar .navbar-nav li a {
            padding: 5px 8px; } }
        @media (max-width: 767px) {
          .navbar .navbar-nav li a {
            font-size: 24px;
            padding: 15px 28px;
            border-top: solid 1px #dadada; } }
  .navbar .navbar-toggle {
    z-index: 5;
    margin-top: 23px;
    border-color: #223c74;
    padding: 9px 8px; }
    .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
      background-color: #fff; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #223c74; }
  @media (max-width: 767px) {
    .navbar .navbar-collapse {
      width: 110%;
      margin-left: -15px;
      border-top: none;
      padding-right: 0;
      max-height: 380px; } }

.header-image img {
  width: 100%;
  margin-top: 49px; }

.header-image .link1 {
  position: absolute;
  bottom: 22%;
  right: 65%;
  width: 209px;
  height: 25px; }

.header-image .link2 {
  position: absolute;
  bottom: 22%;
  right: 42.8%;
  width: 209px;
  height: 25px; }

.header-image .link3 {
  position: absolute;
  bottom: 22%;
  right: 22.8%;
  width: 209px;
  height: 25px; }

.bold-font {
  font-weight: 900; }

.relative {
  position: relative;
  width: 100%; }

.col-centered {
  margin: 0 auto;
  display: block;
  float: none; }

h2 {
  color: #05315a;
  font-weight: 900;
  font-style: italic;
  border-bottom: 2px solid #b5b5b5; }

p {
  color: #05315a; }

hr {
  border-top: 2px solid #b5b5b5; }

.no-gutters {
  padding-right: 0;
  padding-left: 0; }

.bold-font {
  font-weight: 900; }

.contact h2 {
  width: 75%; }
  @media (max-width: 480px) {
    .contact h2 {
      width: 100%; } }

.contact .form-group {
  margin-bottom: 10px; }

.contact .number-sec {
  margin-top: 63px;
  transform: translate(-23%, 2%); }
  @media (max-width: 1024px) {
    .contact .number-sec {
      transform: translate(-28%, 2%); } }
  @media (max-width: 1200px) and (min-width: 1025px) {
    .contact .number-sec {
      transform: translate(-28%, 2%); } }
  @media (max-width: 1000px) {
    .contact .number-sec {
      transform: translate(-28%, 2%); } }
  @media (max-width: 900px) {
    .contact .number-sec {
      transform: translate(15%, 2%); } }
  @media (max-width: 768px) {
    .contact .number-sec {
      transform: translate(0%, 2%); } }
  @media (max-width: 767px) {
    .contact .number-sec {
      transform: translate(0%, 2%); } }
  .contact .number-sec:before {
    content: "";
    position: absolute;
    transform: translate(-101%, -1%);
    width: 35px;
    height: 106%;
    background-color: #05315a; }
    @media (max-width: 900px) {
      .contact .number-sec:before {
        height: 98%; } }
    @media (max-width: 768px) {
      .contact .number-sec:before {
        height: 104%; } }
    @media (max-width: 767px) {
      .contact .number-sec:before {
        height: 100%;
        left: 33px;
        transform: translate(-44%, -1%); } }
  .contact .number-sec .text-sec {
    position: relative;
    color: #05315a;
    font-size: 12px;
    margin-bottom: 24px;
    padding-left: 5px; }
    @media (max-width: 1200px) {
      .contact .number-sec .text-sec {
        margin-bottom: 8px; } }
    @media (max-width: 1024px) {
      .contact .number-sec .text-sec {
        margin-bottom: 8px; } }
    @media (max-width: 900px) {
      .contact .number-sec .text-sec {
        margin-bottom: 2px; } }
    @media (max-width: 768px) {
      .contact .number-sec .text-sec {
        font-size: 11px;
        margin-bottom: 11px; } }
    @media (max-width: 767px) {
      .contact .number-sec .text-sec {
        margin-left: 55px; } }
    .contact .number-sec .text-sec .circle-num {
      position: absolute;
      left: -28.5px;
      top: 7px;
      width: 20px;
      height: 20px;
      color: #fff;
      border: solid 1px #fff;
      border-radius: 50%;
      padding-top: 2px; }
      @media (max-width: 767px) {
        .contact .number-sec .text-sec .circle-num {
          top: 5px; } }
      @media (max-width: 480px) {
        .contact .number-sec .text-sec .circle-num {
          top: 5px;
          padding-top: 2px; } }
      .contact .number-sec .text-sec .circle-num span {
        padding: 6px; }
        @media (min-width: 1200px) {
          .contact .number-sec .text-sec .circle-num span {
            padding: 6px; } }
        @media (max-width: 480px) {
          .contact .number-sec .text-sec .circle-num span {
            padding: 6px; } }

.contact ::placeholder {
  color: #fff; }

.contact ::-ms-input-placeholder {
  color: #fff; }

.contact :-ms-input-placeholder {
  color: #fff; }

.contact input, .contact select, .contact textarea {
  margin-left: 25px;
  max-width: 544px;
  background-color: #278acd;
  color: #fff; }
  @media (max-width: 1025px) {
    .contact input, .contact select, .contact textarea {
      width: 100%;
      max-width: 475px; } }
  @media (max-width: 768px) {
    .contact input, .contact select, .contact textarea {
      max-width: 410px; } }
  @media (max-width: 480px) {
    .contact input, .contact select, .contact textarea {
      margin: auto; } }

.contact form {
  max-width: 560px;
  margin: 0 auto;
  display: block; }
  @media (max-width: 767px) {
    .contact form {
      transform: translate(10%, 0); } }
  @media (max-width: 600px) {
    .contact form {
      transform: translate(0, 0); } }
  @media (max-width: 480px) {
    .contact form {
      transform: translate(0, 0); } }

@media (max-width: 600px) {
  .contact .form-group {
    margin: 10px auto; } }

@media (max-width: 767px) {
  .contact .col-xs-10, .contact .col-xs-9 {
    display: block;
    margin: 0 auto;
    float: none; } }

@media (max-width: 480px) {
  .contact .col-xs-10, .contact .col-xs-9 {
    margin: auto;
    width: 100%; } }

.contact .arrow-button {
  position: relative;
  background-color: #f05828;
  width: 100%;
  height: 35px;
  float: right;
  max-width: 250px;
  color: #fff;
  font-size: 18px;
  border-style: none;
  transform: translate(20%, 0); }
  @media (max-width: 900px) {
    .contact .arrow-button {
      transform: translate(22%, 0); } }
  @media (max-width: 768px) {
    .contact .arrow-button {
      transform: translate(6%, 0); } }
  @media (max-width: 767px) {
    .contact .arrow-button {
      transform: translate(-19%, 0); } }
  @media (max-width: 600px) {
    .contact .arrow-button {
      transform: translate(0, 0); } }
  @media (max-width: 480px) {
    .contact .arrow-button {
      transform: translate(0, 0); } }
  .contact .arrow-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -19px;
    width: 0;
    height: 0;
    border-top: 18px solid transparent;
    border-bottom: 17px solid transparent;
    border-right: 20px solid #f05828; }

.contact .line-sec {
  transform: translate(120%, 15%); }
  @media (max-width: 1024px) {
    .contact .line-sec {
      transform: translate(119.6%, 13%); } }
  @media (max-width: 900px) {
    .contact .line-sec {
      transform: translate(126.5%, 13%); } }
  @media (max-width: 768px) {
    .contact .line-sec {
      transform: translate(113.9%, 13%); } }
  @media (max-width: 767px) {
    .contact .line-sec {
      display: none; } }

.contact .border-line {
  width: 35px;
  height: 2px;
  margin-top: 4px;
  display: block;
  margin-left: -13px;
  background-color: #278acd; }

.about .about-section {
  transform: translate(0, 4%); }
  @media (max-width: 767px) {
    .about .about-section {
      transform: translate(0, 0);
      margin: 0 auto;
      display: block;
      float: none; } }
  @media (max-width: 480px) {
    .about .about-section {
      width: 100%; } }

.about .btn-wrapper {
  width: 100%;
  margin-top: 5%; }
  .about .btn-wrapper .btn-default {
    width: 130px;
    margin: 0 auto;
    display: block;
    padding: 4px 8px;
    font-size: 18px;
    color: #05315a;
    border-color: #05315a; }

@media (max-width: 767px) {
  .about .image-sec {
    margin: 0 auto;
    float: none;
    display: block; } }

@media (max-width: 480px) {
  .about .image-sec {
    width: 100%; } }

.about .image-sec img {
  width: 100%;
  max-width: 478px;
  margin-top: -35px; }
  @media (max-width: 767px) {
    .about .image-sec img {
      margin-top: 0;
      margin: 0 auto;
      display: block;
      float: none; } }

@media (max-width: 1000px) and (min-width: 768px) {
  .about p {
    font-size: 14px; }
  .about .about-section {
    transform: translate(0, -1%); } }

.image-collage {
  margin-top: 25px; }
  .image-collage img {
    width: 100%;
    box-shadow: 0 -8px 3.1px #e0dbd0; }
    @media (max-width: 767px) {
      .image-collage img {
        box-shadow: none; }
        .image-collage img.first {
          box-shadow: 0 -8px 3.1px #e0dbd0; } }
  @media (max-width: 767px) {
    .image-collage .col-xs-10 {
      margin: 0 auto;
      display: block;
      float: none; } }

.four-square img {
  width: 100%;
  margin: 0 auto;
  display: block;
  float: none; }

@media (max-width: 767px) {
  .four-square .col-xs-10 {
    margin: 0 auto;
    display: block;
    float: none; } }

.bird-section img {
  width: 100%; }

.bird-section h2 {
  width: 59%; }
  @media (max-width: 767px) {
    .bird-section h2 {
      width: 100%; } }

body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #fcf8ee; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 50px; }

footer {
  height: 30px;
  background-color: #b5b5b5; }

.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
.modal-body {
  margin: 15px 0 15px; }

.modal-body > h4 {
  text-decoration: none; }

.close {
  margin-top: -1px;
  margin-right: 5px; }

