@import "scss/Settings.scss";
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #fcf8ee;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
}

footer {
    height: 30px;
    background-color: #b5b5b5;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */


.modal-body {
    margin: 15px 0 15px;
}

.modal-body > h4 {
    text-decoration: none;
}

.close {
    margin-top: -1px;
    margin-right: 5px;
}