@{
    ViewBag.Title = "Home Page";
}

<section class="contact">
    <div class="row">
        <div class="col-lg-10 col-centered">
            <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
                @Html.Partial("_ContactForm")
            </div>
        </div>
        <div class="col-xs-9 col-sm-4 col-md-4 col-lg-4">
            <div class="number-sec">
                <div class="text-sec">
                    <div class="circle-num"><span>1</span></div>
                    You have a company to run.. let our team of highly skilled professionals designers save you time and money.
                </div>
                <div class="text-sec">
                    <div class="circle-num"><span>2</span></div>
                    You may already have a logo and/or plenty of pretty marketing material.. that's even better! Let us mess around with it.
                </div>
                <div class="text-sec">
                    <div class="circle-num"><span>3</span></div>
                    All you have to do is sign up and we'll send you your free proof of whatever awsomeness we put together.
                </div>
                <div class="text-sec">
                    <div class="circle-num"><span>4</span></div>
                    You then reply with any changes or edits you'd like to see and we'll make the necessary adjustments for you.
                </div>
            </div>
        </div>
    </div>    
</section>

<section class="about">    
    <div class="row">
        <div class="col-lg-10 col-centered">
            <hr />
            <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 about-section">
                <h2>About Us</h2>
                <p>Born out of a 40 old family advertising company, Go Print Yourself understands the important of promotional products and the long-term effect it can have on customers.</p>
                <p>We believe that every interaction a business owner is involved in with a customer, or potential customer, should be an extremely memorable one for both parties.</p>
                <p>Wether it's giving away a free magnet to people who are just walking by or offering a free tote-bag/t-shirt, with every purchase.. research shows when customers recieve a promotional item from a business.. they tend to do business with that company more often than with those who refuse to show appreciation for their customers.</p>
                <div class="btn-wrapper">
                    <button class="btn btn-default">Contact Us</button>
                </div>
                <hr />
            </div>
            <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 image-sec">
                <img src="~/Content/Images/bag.png" />
            </div>
        </div>
    </div>
</section>

<section class="image-collage">
    <div class="row">
        <div class="col-lg-10 col-centered">
            <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <img src="~/Content/Images/creative-pic_05.png" class="first" />
            </div>
            <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <img src="~/Content/Images/toolkit_05.png" />
            </div>
            <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4 no-gutters">
                <img src="~/Content/Images/designer_05.png" />
            </div>
        </div>
    </div>
</section>

<section class="four-square">
    <div class="row">
        <div class="col-lg-10 col-centered">
            <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12 no-gutters">
                <img src="~/Content/Images/four-square.png" />
            </div>
        </div>
    </div>   
</section>

<section class="bird-section">
    <div class="row">
        <div class="col-lg-10 col-centered">
            <h2>Turn That (into this)</h2>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img src="~/Content/Images/birdBefore_12.png" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <img src="~/Content/Images/birdAfter_12.png" />
            </div>
        </div>
    </div>
</section>

<section>
    @Html.Partial("_MessageSuccessModal")
</section>

@section Scripts {
    @if (ViewBag.Message != null)
    {
        <script>
            $(document).ready(function () {

                console.log("Success");
                $('#successModal').modal('show');
            });
        </script>
    }
}
