@{
    ViewBag.Title = "Home Page";
}

<section class="contact">
    <div class="row">
        <div class="col-lg-10 col-centered">
            <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
                @Html.Partial("_ContactForm")
            </div>
        </div>
        <div class="col-xs-9 col-sm-4 col-md-4 col-lg-4">
            <div class="number-sec">
                <div class="text-sec">
                    <div class="circle-num"><span>1</span></div>
                    You have a company to run.. let our team of highly skilled professionals designers save you time and money.
                </div>
                <div class="text-sec">
                    <div class="circle-num"><span>2</span></div>
                    You may already have a logo and/or plenty of pretty marketing material.. that's even better! Let us mess around with it.
                </div>
                <div class="text-sec">
                    <div class="circle-num"><span>3</span></div>
                    All you have to do is sign up and we'll send you your free proof of whatever awsomeness we put together.
                </div>
                <div class="text-sec">
                    <div class="circle-num"><span>4</span></div>
                    You then reply with any changes or edits you'd like to see and we'll make the necessary adjustments for you.
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    @Html.Partial("_MessageSuccessModal")
</section>

@section Scripts {
    @if (ViewBag.Message != null)
    {
        <script>
            $(document).ready(function () {

                console.log("Success");
                $('#successModal').modal('show');
            });
        </script>
    }
}
